{% extends "dashboard.html" %}

{% block be_users_edit %}
    {% if user %}
        <div class="col-lg-4">
        <form id="edit-user-form" method="post" action="{{ url_for('backend.account_change_password') }}">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                <div class="form-group  col-md-6">
                    {{ form.password2.label }}
                    {{ form.password2(class_="form-control") }}
                </div>
            </div>
            {{ form.submit(class_="btn btn-dark") }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    {% endif %}
</div>
    
{% endblock %}