{% extends "/backend/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='backend/register.css') }}">
{% endblock %}

{% block content %}

{% if message %}
<strong>{{ message }}</strong>
{% endif %}
<form id="register-form" method="post" action="{{ url_for('backend.register') }}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.password2.label }}
    {{ form.password2 }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.submit }}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
</form>

{% endblock %}