* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

p, span, a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

table {
    margin: 0 auto;
}

td.edit,
td.remove {
    cursor: pointer;
}

#header,
#aside,
#content,
#footer {
    max-width: 100%;
    width: 100%;
    position: relative;
}

#status-bar {
    max-width: 100%;
    height: auto;
    padding: 15px;
    border-bottom: 1px solid #212529;
}

#status-bar span {
    margin-right: 15px;
}

#content {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
}

.alert {
    margin-top: 25px;
}

.nav-link {
    color: #fff;
}

.nav-item {
    position: relative;
    margin-right: 25px;
}

.nav-link:hover,
.nav-item.show,
.nav-item.show .nav-link,
.nav-link.active {
    background: #fff;
    color: #212529 !important;
}

#register-form {
    padding-bottom: 100px;
}

.link-back {
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-inline label {
    margin-left: 15px;
}

.fileupload-container {
    padding: 15px;
}

.fileupload-container .info,
.fileupload-container .extensions{
    display: block;
    margin-bottom:8px;
}

.dz-preview {
    margin-top: 20px;
}

.dz-message {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dz-message span {
    line-height: 150px;
    text-align: center;
}

.dz-image {
    max-width: 120px;
    float: left;
    margin-right: 20px;
}

.dz-details {
    float: left;
    display: block;
    margin-bottom: 20px;
    width: calc(100% - 150px);
}

.dz-error-message {
    position: relative;
    line-height: 25px;
}

.dz-remove {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

.dz-success-mark,
.dz-error-mark {
    display: inline-block;
    float: left;
}

.form-control {
    position: relative;
    height: auto;
    overflow: hidden;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    display: block;
    top: -9px;
    margin-top: 0;
}


.dropright .dropdown-toggle::after {
    position: absolute;
    right: 10%;
    top: calc(50% - 2px);
}

.dropdown-toggle::after {
    margin-left: 1.255em;
}

.nav1-item {

}

.nav1-link {

}

.nav2-item {
    margin-right: 0;
}

.nav2-link {

}

.nav3-item {
    margin-right: 0;
}

.nav3-link {

}