

<div class='form-group'>
   <label for="eid">EID</label>
   <div class='clear'></div>
   <input class="form-control form-control-sm " id="eid" name="eid" type="text" value="">
</div>
<div class='form-group'>
   <label for="eid_custom">Custom EID</label>
   <div class='clear'></div>
   <input class="form-control form-control-sm " id="eid_custom" name="eid_custom" type="text" value="">
</div>
<div class='form-group'>
   <label for="title">Titel</label>
   <div class='clear'></div>
   <input class="form-control form-control-sm " id="title" name="title" required type="text" value="">
</div>
<div class='form-group'>
   <label for="intro_text">Intro Text</label>
   <div class='clear'></div>
   <textarea class="form-control form-control-sm texteditor " id="intro_text" name="intro_text"></textarea>
</div>
<div class='form-group'>
   <label for="text">Text</label>
   <div class='clear'></div>
   <textarea class="form-control form-control-sm texteditor " id="text" name="text"></textarea>
</div>
<div class='form-group'>
<div class='fileupload-container form-control'>
   <input type="hidden" class="type" name="type" value="content">
    <input type="hidden" class="module" name="module" value="news">
    <input type="hidden" class="image-format" name="image-format" value="main_image">
    <span class="label"><label for="main_image">Hauptbild</label></span>
   <div class='dz-message form-control'><span class='upload-message'>Dateien hier ablegen zum Hochladen</span></div>
   <span class='info'>Bilder im Format 1920x0</span><span class='extensions'>{'jpg', 'gif', 'svg', 'png', 'jpeg'}</span>
   <div class='fallback'><input class="fileupload" id="main_image" name="main_image" type="file"></div>
   <input class="fileupload" id="main_image" name="main_image" type="file">
</div>
</div>
<div class='form-group'>
<div class='fileupload-container form-control'>
   <input type="hidden" class="type" name="type" value="content"><input type="hidden" class="module" name="module" value="news"><input type="hidden" class="image-format" name="image-format" value="teaser_image"><span class=""label"><label for="teaser_image">Teaser Bild</label></span>
   <div class='dz-message form-control'><span class='upload-message'>Dateien hier ablegen zum Hochladen</span></div>
   <span class='info'>Bilder im Format 480x480</span><span class='extensions'>{'jpg', 'gif', 'svg', 'png', 'jpeg'}</span>
   <div class='fallback'><input class="fileupload" id="teaser_image" name="teaser_image" type="file"></div>
   <input class="fileupload" id="teaser_image" name="teaser_image" type="file">
</div>
    </div>
<div class='form-group'><input class="form-control form-control-sm btn-dark " id="submit" name="submit" type="submit" value="News Meldung speichern"></div>
<div class='form-group'><input class="form-control form-control-sm " id="csrf_token" name="csrf_token" type="hidden" value="20191117145110##4a140682566435620bf2504706a5c701d7c92cbc"></div>

