{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block status_bar %}

    <div class="container-fluid">
        {% if current_user %}
            {% if current_user.is_authenticated %}
                <span>Eingeloggt als {{ current_user.username }}</span>
                <span>Letzter Login {{ current_user.last_login }}</span>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        {% block editor %}
        {% endblock %}
    </div>
{% endblock %}