{% extends "/backend/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/css/dashboard.css') }}">
{% endblock %}

{% block status_bar %}

    {% if current_user %}
        {% if current_user.is_authenticated %}
            <span>Hi {{ current_user.get('username') }}!</span>
            <span>Letzter Login: {{ current_user.get("ctrl_last_login") }}</span>
        {% endif %}
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% block be_users_list %}
        {% endblock %}
        {% block be_users_add %}
        {% endblock %}
        {% block be_users_edit %}
        {% endblock %}
        {% block account_edit %}
        {% endblock %}
        {% block failed_login_records_list %}
        {% endblock %}
        {% block system_mail_list %}
        {% endblock %}
    </div>
{% endblock %}