{% extends "backend/dashboard.html" %}

{% block system_mail_list %}
    {% if system_mails %}
        <table class="table table-striped table-dark col-lg-12 ">
            <thead>
            <th scope="col">Id</th>
            <th scope="col">Empfänger</th>
            <th scope="col">Sender</th>
            <th scope="col">Betreff</th>
            <th scope="col">Nachricht</th>
            <th scope="col">Zeitpunkt</th>
            </thead>
            <tbody>

            {% for system_mail in system_mails %}
                <tr>
                    <th scope="row">{{ system_mail.get_id() }}</th>
                    <td>{{ system_mail.get_receiver() }}</td>
                    <td>{{ system_mail.get_sender() }}</td>
                    <td>{{ system_mail.get_subject() }}</td>
                    <td>{{ system_mail.get_message()|safe }}</td>
                    <td>{{ system_mail.get_time() }}</td>
                    {% if current_user.is_admin %}
                        <td class="remove"><i class="material-icons">delete</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}